body {
  background-color: #f5f5f5;
}

.login__container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__wrapper {
  width: 300px;
}

.login__header {
  text-align: center;
  font-size: 30px;
  padding-bottom: 15px;
  border-bottom: 3px solid black;
  margin-bottom: 20px;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login__form input {
  padding: 10px;
}

.login__form button {
  padding: 10px;
}

.dashboard_main__container {
  max-width: 1000px;
  width: 100%;
  margin: 50px auto;
}

.dashboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard__btn_link {
  background: none;
  border: none;
  text-decoration: underline;
  color: blue;
}

.todo__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  align-items: center;
  border-top: 1px solid #f5f5f5;
}

.todo__table_header {
  border-top: 0;
}

.dashboard__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.dashboard__uploadBox {
  flex: 1;
  border: 1px dashed black;
  padding: 10px;
  margin-right: 10px;
}

.fill-width {
  width: 100%;
}

.todo__container {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 0;
}

.todo__form_input {
  width: 140px;
}